{% for parser in fluentbit_parsers %}
[PARSER]
    Name        {{ parser.name }}
    Format      {{ parser.format }}
    Regex       {{ parser.regex }} 
{% if parser.time_key is defined %}
    Time_Key    {{ parser.time_key }}
{% endif %}
{% if parser.time_format is defined %}
    Time_Format {{ parser.time_format }}
{% endif %}
{% if parser.time_keep is defined %}
    Time_Keep   {{ parser.time_keep }}
{% endif %}
{% endfor %}
